<app-header title="DateTime"></app-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-input placeholder="Title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input placeholder="Location"></ion-input>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-list-header>
      <ion-label>Birthday</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Birthday</ion-label>
      <ion-datetime placeholder="Select Date"
                    display-format= "YYYY MMMM DD"
                    cancel-text="¡Cancelar!"
                    [ngModel]="birthday.toISOString()"
                    (ionChange)="changeDate( $event )">
      </ion-datetime>
      <!-- value="{{ birthday | date: 'yyyy-MM-dd' }}"  -->
    </ion-item>
    <ion-list-header>
      <ion-label>Restrictions</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Min&Max</ion-label>
      <ion-datetime placeholder="yyyy-MM-dd"
                    display-format= "YYYY MMMM DD"
                    min="1992-01-03"
                    max="1992-12-03">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Years</ion-label>
      <ion-datetime placeholder="YYYY"
                    display-format= "YYYY"
                    min="1992"
                    max="2025"
                    value="2020">
      </ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Custom Date</ion-label>
      <ion-datetime [pickerOptions]="customPickerOptions"
                    [(ngModel)]="customDate">
      </ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime value="1990-02-19" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime display-format="h:mm A" picker-format="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Ends</ion-label>
      <ion-datetime value="1990-02-20" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Repeat</ion-label>
      <ion-datetime placeholder="Never" disabled></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Travel Time</ion-label>
      <ion-datetime placeholder="None" disabled></ion-datetime>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
      <ion-label>Alert</ion-label>
      <ion-datetime placeholder="None" disabled></ion-datetime>
    </ion-item>
  </ion-list>

</ion-content>
